.calculatorMain {
    flex-direction: row;
    justify-content: center;
    display: flex;
}

.inputRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2ch;
}

.selectInputWrapper {
    padding-bottom: 10px;
}

.calculatorInputMargin {
    padding-right: 1ch;
    padding-left: 1ch;
}

.selectInputWrapper:last-child {
    padding-bottom: 0;
}
