.login__main-login {
    flex-direction: row;
    justify-content: center;
    display: flex;
}

.login__input-row {
    flex-direction: row;
    justify-content: center;
    display: flex;
    padding-top: 2ch;
}

.login__input-row-with-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 4.7ch;
    padding-top: 2ch;
}
