.ingredientRegisterMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.suggestion__inputRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectInputWrapper {
    padding-bottom: 10px;
}

.calculatorInputMargin {
    padding-right: 1ch;
    padding-left: 1ch;
}

.selectInputWrapper:last-child {
    padding-bottom: 0;
}
